{% extends "base.html" %}
{% load i18n static %}
{% block body-classes %}elections {% endblock %}
{% block content %}
  <h1>{{ title }}</h2>
  <ul>
    {% for election in object_list %}
      <li><a href="{{ election.get_absolute_url }}">{{ election.name }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
