{% extends "cmsplugin_news/base.html" %}

{% load i18n static %}

{% block "meta" %}
    <meta name="author" content="{{ object.creator }}" />
    <meta name="description" content="{{ object.excerpt|striptags }}" />
    <meta property="og:image" content="{% if object.og_image %}{{ object.og_image.url }}{% else %}{% static "images/news-og-image.png" %}{% endif %}" />
{% endblock %}

{% block "precontent" %}
  {% if not object.is_published %}
    <ul id="messages">
        <li class="error" title="{% trans "Use the admin menu to publish it." %}">{% trans "This article is not published yet!" %} (<a href="{{ object.get_live_url }}">{% trans "Live Link" %}</a>)</li>
    </ul>
  {% endif %}
{% endblock %}

{% block "newscontent" %}
  <h1>{% block title %}{{ object.title }}{% endblock %}</h1>
  <p class="postdate">{{ object.pub_date }}</p>
  {{ object.content|safe }}

{% if object.backlinks.count > 0 %}

<hr/>

<div class="backlinks">
  <h5>{% trans "Social Media Posts" %}</h5>
  <div class="social">
    {% for link in object.backlinks.all %}
      {% if link.social_media %}
        <a href="{{ link.url }}"><img src="{{ link.social_media.icon.url }}" title="{{ link.social_media.name }}"/></a>
      {% endif %}
    {% endfor %}
  </div>
  <h5>{% trans "News Backlinks" %}</h5>
  <ul class="links">
    {% for link in object.backlinks.all %}
      {% if not link.social_media %}
        <li><a href="{{ link.url }}">{{ link.url|truncatechars:80 }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
{% endif %}

{% endblock %}
