{% extends "forums/base.html" %}
{% load i18n static %}
{% block title %}{% trans "Moderation Area" %}{% endblock %}
{% block "wrapper" %}
<div class="container-flex forums-app forums-moderator-list">
{% endblock "wrapper" %}
{% block "tools" %}
  <div class="alert alert-info">
    <span class="glyphicon glyphicon-info-sign"></span> {% trans "Comments are here because the people who have commented or created topics do not yet have permissiont to post. If you approve two comments from the same user, they will be allowed to post without moderator approval." %}
  {% if postwords.words and postwords.matches %}
  </div>
  <div class="alert alert-danger" style="min-height: 66px;">
      <a class="btn btn-danger pull-right" href="{% url "forums:word_filter" %}">Filter All</a>
      <div><span class="glyphicon glyphicon-ban-circle"></span> {% trans "Some of these comments would have been blocked by new banned-words filters, would you like to remove them in bulk?" %}</div>
      <div>{% blocktrans with a=postwords.matches b=postwords.comments c=postwords.words %}{{a}} of {{b}} posts would be filtered by {{c}} word filters.</div>{% endblocktrans %}
  {% endif %}
  </div>
    {{ block.super }}
{% endblock %}

{% block "content" %}
  {% with object_list as comment_list %}
    {% include "forums/comment_table.html" with show_comments=1 %}
  {% endwith %}
{% endblock %}

