{% extends "base.html" %}
{% load i18n static %}

{% block "css" %}{{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "css/chat.css" %}"/>
{% endblock %}

{% block "js" %}{{ block.super }}
  <script type="text/javascript" src="{% static "js/fullscreen.js" %}"></script>
{% endblock %}

{% block title %}{{ object }} {% trans "Chatroom" %}{% endblock %}

{% block supercontent %}
  {% if object.chatrooms.count > 0 %}
    <div id="irchat">
      <img class="fullscreen" alt="FULLSCREEN" src="{% static "images/fullscreen.svg" %}"/>
      <iframe src="https://kiwiirc.com/client/irc.libera.chat:+6697/?nick={{ request.user.get_ircnick }}{% for irc in object.irc_channels %}{% if not forloop.first %},{% endif %}#{{ irc.channel }}{% endfor %}" style="border:0; width:100%; height:450px;"></iframe>
    </div>
  {% else %}
    <h1>{% blocktrans %}{{ object }} has no chat room{% endblocktrans %}</h1>
  {% endif %}
{% endblock %}
