@font-face {
  font-family: 'ink';
  src: url('../fonts/ink.eot?46449905');
  src: url('../fonts/ink.eot?46449905#iefix') format('embedded-opentype'),
       url('../fonts/ink.woff2?46449905') format('woff2'),
       url('../fonts/ink.woff?46449905') format('woff'),
       url('../fonts/ink.ttf?46449905') format('truetype'),
       url('../fonts/ink.svg?46449905#ink') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'ink';
    src: url('../font/ink.svg?46449905#ink') format('svg');
  }
}
*/
 
 [class^="ink-"]:before, [class*=" ink-"]:before {
  font-family: "ink";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.ink-feather:before { content: '\e800'; } /* '' */
.ink-pencil:before { content: '\e801'; } /* '' */
.ink-pencil-alt:before { content: '\e802'; } /* '' */
.ink-vector-pencil:before { content: '\e803'; } /* '' */
