{% extends "base.html" %}
{% load i18n cms_tags static %}

{% block title %}{% page_attribute "page_title" %}{% endblock %}

{% block headerdesc %}{% page_attribute meta_description %}{% endblock %}

{% block "lastmodified" %}{% page_attribute "changed_date" %}{% endblock %}

{% block "og-image" %}{% static "images/inkscape-og-front.svg" %}{% endblock %}

{% block "css" %}{{ block.super }}
  <style>
    /* hack-fix, disable buggy redirect screen blocker on homepage */
    .cms-screenblock { display: none !important; }
  </style>
{% endblock %}

{% block supercontent %}
  {% placeholder front_body %}
  <div id="columns">
    <div class="column">
      {% placeholder column_one %}
    </div>
    <div class="column">
      {% placeholder column_two %}
    </div>
    <div class="column">
      {% placeholder column_three %}
    </div>
  </div>
{% endblock %}
