{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock %}
{% block "lastmodified" %}{% page_attribute "changed_date" %}{% endblock %}

{% block headerdesc %}{% page_attribute meta_description %}{% endblock %}

{% block content %}
  <div class="page">
    {% placeholder header_template_content %}
    <div id="left-column">
      {% placeholder normal_template_content %}
    </div>
    <div id="right-sidebar">
      {% placeholder sidebar_template_content %}
    </div>
  </div>
{% endblock %}
