{% extends 'base.html' %}
{% load static i18n humanize %}

{% block headerdesc %}{% trans "Full list of all platforms available for this release." %}{% endblock %}
{% block keywords %}release,platform,list,availability,access{% endblock %}

{% block content %}

<h1>{{ title }}</h1>
<p>{% trans "This lists all platforms for the selected release. It shows each of the downloads that have been made available without listing the un-filled slots of all platforms. For example, if Windows 32bit is shown, but Windows 64bit is not, then we have a build for 32bit but not for 64." %}</p>
  <table class="alternating" style="width: 100%;">
  {% for rp in object.platforms.all %}
    <tr class="{% cycle "odd" "even" %}">
      <td><a href="{{ rp.platform.get_absolute_url }}">{{ rp.platform.full_name }}</a></td>
      <td>{{ rp.resource.created|default:rp.created }}</td>
      <td>{% if rp.resource %}{{ rp.resource.downed|intcomma }}{% else %}N/A{% endif %}</td>
      <td>
        {% if rp.download or rp.resource %}
          <a href="{{ rp.get_resource_url }}">{% trans "Download" %}</a>
          {% if rp.howto %} | {% endif %}
        {% endif %}
        {% if rp.howto %}
          <a href="{{ rp.howto }}">{% trans "HowTo" %}</a>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </table>

{% endblock %}
