{% extends "error/base.html" %}
{% load i18n static %}

{% block error-msg %}
  <img src="{% static "images/500.svg" %}" title="500 {{ title }}" alt="500 {{ title }}"/>
  <h1>{% block title %}{% trans "Server Error" %}{% endblock %}</h1>
  <p>{% trans "The website is broken in some way. Now we've emailed the people who look after the website to let them know you've had problems, so please don't worry." %}</p>
  <hr/>
  <p>
    {% url "contact" as contact_url %}
    {% blocktrans trimmed %}
     <a href="{{ contact_url }}?subject=Error500">Contact an admin</a> to let them know what you were doing if you think it will help find the error.
    {% endblocktrans %}
  </p>
{% endblock %}

