{% load i18n comments static %}

<div id="comments">

  {% get_comment_list for comment_subject as comment_list %}
  {% include "comments/new_list.html" %}
  
  {% if user.is_authenticated %}
    {% if owner != user and user.email and not perms.forums.can_post_comment %}
      <div class="comment locked">
        <div class="details">
          <div class="title">
            {% blocktrans %}You can't comment until two of your posts have been approved in the <a href="/forum/">forum</a>.{% endblocktrans %}
          </div>
        </div>
      </div>
    {% elif user.email %}
      {% include "comments/new_form.html" %}
    {% else %}
      {% url 'edit_profile' as profile_url %}
      <div class="comment locked">
        <div class="details">
          <div class="title">
            {% blocktrans trimmed with profile_url|add:"?next="|add:request.path as url %}
              You need to <a href="{{url}}">add an email address to your profile</a> if you'd like to leave a comment!
            {% endblocktrans %}
          </div>
        </div>
      </div>
    {% endif %}
  {% else %}
    {% url 'auth_login' as login_url %}
    <div class="comment locked">
      <div class="details">
        <div class="title">{% blocktrans trimmed with login_url|add:"?next="|add:request.path as url %}
        Please <a href="{{url}}">log in</a> to leave a comment!
      {% endblocktrans %}</div>
      </div>
    </div>
  {% endif %}
</div>


<!-- todo: replace comment.get_content_object_url with comment.get_absolute_url or %get_comment_permalink comment% in all templates, if there won't be a single comment view page -->
