{% extends "modal.html" %}
{% load i18n static cal %}

{% block "js" %}{{ block.super }}
  <script type="text/javascript" src="{% static "js/localtime.js" %}"></script>
{% endblock %}

{% block "meta" %}
  <meta name="author" content="{{ objct.creator }}" />
  <meta name="description" content="{{ object.next_start|date:"c" }} // {% if object.link %}{{ object.link }}{% else %}{{ request.build_absolute_uri }}{{ object.get_absolute_url }}{% endif %}
{{ object.description|striptags|truncatechars:100 }}"/>
  <meta name="keywords" content="inkscape,calendar,entry,meeting,{{ object.parent }}" />
  <meta property="og:image" content="{% static "images/inkscape-og-calendar.png" %}" />
{% endblock %}
{% block body-classes %}calendar {% endblock %}
{% block "dialog-title" %}
<div style="float: right;">
  {% if object.link and occurance %}
    <a href="{{ object.link }}"
       class="btn btn-{% if object.is_video_link %}primary">▶ Video Meeting{% else %}default">Link{% endif %}
    </a>
  {% endif %}
</div>{{ block.super }}
{% endblock %}
{% block "dialog-subtitle" %}
<em style="padding-left: 20px; font-size: 80%;"><a href="{{ object.creator.get_absolute_url }}">{% blocktrans with creator=object.creator %}Created by {{ creator }}{% endblocktrans %}</a>{% if occurance %} - {{ occurance.start|relative:occurance.end }}{% elif not object.recurrences %} - {{ object.start|relative:object.end }}{% endif %}</em>
{% endblock %}

{% block "dialog-body" %}

  <p>{{ object.description|safe }}</p>

  {% if object.is_meeting %}
    {% if occurance.is_started and not occurance.is_finished and occurance.presided == request.user %}
      {# Controls for the meeting president #}
      {% include "calendars/eventoccurance_control_agenda.html" with oce=occurance.details %}
      <div style="text-align: center;">
        <a href="{% url "calendars:meeting" object.pk occurance.details.pk "pause" %}" class="btn btn-default">{% trans "Pause Meeting" %}</a>
        <a href="{% url "calendars:meeting" object.pk occurance.details.pk "finish" %}" class="btn btn-danger" title="{% trans "Complete the meeting" %}">{% trans "End Meeting" %}</a>
        <script>popUpLink('{% trans "Do you want to end the meeting? This can not be undone!" %}', '{% trans "Cancel" %}', '{% trans "End Meeting" %}', "", "Type the meeting notes here before you finish.");</script>
      </div>

    {% elif not occurance.is_started and request.user|is_member:object %}
      {# Controls for any team member before the meeting starts #}
      {% include "calendars/eventoccurance_add_agenda.html" with oce=occurance.details %}

      <div style="text-align: center;">
{% if occurance.details.pk %}
          <a href="{% url "calendars:meeting" object.pk occurance.details.pk "agendum" %}" class="btn btn-primary" title="{% trans "Create new Agenda Item" %}">{% trans "Add to Agenda" %}</a>
          <script>popUpLink('{% trans "What do you want to talk about in this meeting?" %}', '{% trans "Cancel" %}', '{% trans "Create" %}', "", "{% trans "Agenda Text" %}");</script>
{% endif %}

        {% if occurance.starts_soon %}
          <a href="{% url "calendars:meeting" object.pk occurance.details.pk "start" %}" class="btn btn-success" title="{% trans "Start the meeting and set yourself as the meeting manager for this occurance." %}">{% trans "Start Meeting" %}</a>
        {% endif %}
      </div>

    {% elif occurance.has_details %}
      {# Read only static agenda #}
      {% include "calendars/eventoccurance_static.html" with oce=occurance.details %}
      {% if occurance.is_started %}
        <div style="text-align: center;">
          {% if request.user|is_member:object and not occurance.presided %}
          <a href="{% url "calendars:meeting" object.pk occurance.details.pk "start" %}" class="btn btn-success" title="{% trans "Resume the meeting and set yourself as the meeting manager for this occurance." %}">{% trans "Resume Meeting" %}</a>
          {% elif not occurance.presided %}
            <a href="#" class="btn btn-default">{% trans "Meeting Paused" %}</a>
          {% elif occurance.is_finished %}
            <a href="#" class="btn btn-danger">{% trans "Meeting Finished" %}</a>
          {% else %}
            <a href="#" class="btn btn-primary">{% blocktrans with presider=occurance.presided %}Meeting in progress by {{ presider }}{% endblocktrans %}</a>
          {% endif %}
        </div>
      {% endif %}
    {% endif %}
  {% endif %}

  {% if object.recurrences %}
    <hr/>
    <table class="alternating" style="width: 100%;">
      <tbody>
      {% for prev_occurance in object.prev_occurances %}
        <tr class="row-disabled">
          <td style="white-space:nowrap;">
            <span class="btn disabled" data-event="{{ prev_occurance.start|date:"c" }}">{{ prev_occurance.start }}</span>
          </td>
          <td style="white-space:nowrap;" title="{{ prev_occurance.start }} - {{ prev_occurance.end }}">
            {% if prev_occurance.has_details %}
            <a href="{{ prev_occurance.details.get_absolute_url }}" class="btn btn-success">
                🗒 {{ prev_occurance.start|relative:prev_occurance.end }}
            </a>
            {% else %}
              <span class="btn">{{ prev_occurance.start|relative:prev_occurance.end }}</span>
            {% endif %}
          </td>
        </tr>
        {% empty %}
          {% if prev_occurance %}
            <tr class="row-disabled">
              <td style="white-space:nowrap;">
                <span class="btn disabled" data-event="{{ prev_occurance.start|date:"c" }}">{{ prev_occurance.start }}</span>
              </td>
              <td style="white-space:nowrap;">
                {% if prev_occurance.has_details %}
                <a href="{{ prev_occurance.details.get_absolute_url }}" class="btn" title="{{ prev_occurance.start }} - {{ prev_occurance.end }}">
                    {{ prev_occurance.start|relative:prev_occurance.end }}
                </a>
                {% else %}
                  <span class="btn">{{ prev_occurance.start|relative:prev_occurance.end }}</span>
                {% endif %}
              </td>
            </tr>
          {% endif %}
        {% endfor %}
      {% for next_occurance in object.next_five %}
        <tr class="{% cycle "even" "odd" %}">
          <td style="white-space:nowrap;">
            <span class="btn btn-default" data-event="{{ next_occurance.start|date:"c" }}" title="{{ next_occurance.start }} - {{ next_occurance.end }}">{{ n
          </td>
          <td style="white-space:nowrap;">
            <span class="btn">{{ next_occurance.start|relative:next_occurance.end }}</span>
          </td>
        </tr>
      {% empty %}
        <tr class="odd">
          <td style="white-space:nowrap;" colspan="2">
              <span class="btn">{% trans "No more future events" %}</span>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}

{% block "dialog-buttons" %}
  {% if request.user.is_staff %}
    <a class="btn btn-danger" href="{% url "admin:calendars_event_delete" object.pk %}">{% trans "Delete" %}</a>
    <a class="btn btn-default" href="{% url "admin:calendars_event_change" object.pk %}">{% trans "Edit" %}</a>
  {% else %}
    <a class="btn btn-disabled" href="">{% trans "Delete" %}</a>
    <a class="btn btn-disabled" href="">{% trans "Edit" %}</a>
  {% endif %}
{% endblock %}
